header {
    background-color: rgb(78, 78, 78);
    height: 100px;
    width: 100%;
}

#sides {
width: 100%;
height: 800px;
display: flex;
justify-content: space-between;
}

#left-gray {
    background-color: rgb(160, 160, 160);
    width: 100px;
    height: 100%;
}

#right-gray {
    background-color: rgb(160, 160, 160);
    width: 100px;
    height: 100%;
}

#blackish {
    background-color: rgb(24, 24, 24);
    width: 90%;
    height: 150px;
    position: relative;
    top: 650px;
}